@inject Configuration.SiteConfiguration siteConfiguration
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@siteConfiguration.SiteTitle</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.AdminIndex" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Admin Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.AddPromo">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Promo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.ListPromos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Promos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.ManageImages">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Images
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.ListImages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> List Images
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.ListProducts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> List Products
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.AddProduct">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Product
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.ErrorsLogPowerBI">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Errors (Power BI)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Constants.AdminPagesRoutes.ErrorLog">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Error Log
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
